// web styles
@import './styles/web/buttons.scss';
@import './styles/web/Settings.scss';

.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  display: flex;
  padding: 10px;
  align-items: left;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-title {
  display: flex;
  flex-direction: column;
  float: left;
  cursor: pointer;
}

.app-nav {
  text-align: center;
  float: right;
}

.app-nav-action {
  font-size: calc(5px + 1vmin);
  cursor: pointer;
}

.app-nav-action:hover {
  text-decoration: underline;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app-footer {
  position: absolute;
  bottom: 0;
  background-color: #efefef;
  text-align: right;
  height: 4rem;
  width: 100%;
}

.app-content {
  padding: 10px;
  padding-bottom: 60px;
}

.app-wrapper {
  position: relative;
  min-height: 100%;
}

.App-link {
  color: #61dafb;
}
